name: master

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        deno: ["1.4.5"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno v${{ matrix.deno }}
        uses: denolib/setup-deno@master
        with:
          deno-version: ${{ matrix.deno }}

      - name: Test
        if: matrix.os == 'windows-latest'
        run: |
          pwd
          ls 'C:\Program Files (x86)'
          ls 'C:\Program Files (x86)\Google'
          ls 'C:\Program Files(x86)\Google\Chrome'
          ls 'C:\Program Files(x86)\Google\Chrome\Application'

      - name: Unit
        run: deno test -A tests/unit

      - name: Integration
        run: deno test -A tests/integration

  linter:
    strategy:
      matrix:
        deno: ["1.4.5"]
    # Only one OS is required since fmt is cross platform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno v${{ matrix.deno }}
        uses: denolib/setup-deno@master
        with:
          deno-version: ${{ matrix.deno }}

      - name: Lint
        run: deno lint --unstable

      - name: Formatter
        run: deno fmt --check
