name: master

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  docker-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run Docker Tests
        run: |
          cd tests/integration/docker_test
          docker-compose up -d drivers
          docker exec drivers deno test -A --config tsconfig.json --no-check=remote tests/integration
          docker exec drivers deno test -A --config tsconfig.json --no-check=remote tests/unit

  console-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x

      - name: Run Console Tests
        run: |
          deno test -A tests/console

  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x

      - name: Run Integration Tests
        run: |
          deno test -A tests/integration --config tsconfig.json --no-check=remote

      - name: Run Integration Tests (remote)
        if: ${{ matrix.os == 'ubuntu-latest'}}
        run: |
          docker compose -f tests/integration/docker_test/docker-compose.yml up remotes -d
          deno test -A tests/integration --config tsconfig.json --no-check=remote -- --remoteBrowser
          docker compose -f tests/integration/docker_test/docker-compose.yml down
      
      - name: Run Unit Tests
        run: |
          deno test -A --config tsconfig.json tests/unit --no-check=remote

      - name: Run Unit Tests (remote)
        if: ${{ matrix.os == 'ubuntu-latest'}}
        run: |
          docker compose -f tests/integration/docker_test/docker-compose.yml up remotes -d
          deno test -A tests/unit --config tsconfig.json --no-check=remote -- --remoteBrowser
          docker compose -f tests/integration/docker_test/docker-compose.yml down

  linter:
    # Only one OS is required since fmt is cross platform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: vx.x.x

      - name: Lint
        run: deno lint --ignore=examples

      - name: Formatter
        run: deno fmt --check
